.header {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 10px 50px 10px 50px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(190, 190, 190, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(190, 190, 190, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(190, 190, 190, 0.5);
  color: var(--softColor);
}
.logo,
.header .menu,
.header .menu-action {
  text-align: center;
  align-self: center;
}
.header .menu-action {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.logo img {
  width: 100px;
}

.header a {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--softColor);
}
.header a:hover {
  color: var(--button);
}
.menu-icon {
  cursor: pointer;
  width: 35px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: invert(83%) sepia(1%) saturate(8%) hue-rotate(354deg) brightness(95%)
    contrast(92%);
}
.mobile-menu {
  padding-top: 15px;
  display: grid;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .logo img {
    width: 60px;
  }
  .header {
    width: 100%;
    margin: 0 !important;
    padding: 10px 5px;
    box-sizing: border-box;
  }
  .header a {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
