@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
.header {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 10px 50px 10px 50px;
  box-sizing: border-box;
  margin-bottom: 50px;
  color: var(--softColor);
  border-bottom: var(--white) 1px solid;
  background-color: var(--defaultColor);
}
.logo {
  transition: transform 0.2s;
}
.logo,
.header .menu,
.header .menu-action {
  text-align: center;
  align-self: center;
}
.header .menu-action {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}
.logo .text {
  font-family: "Play", sans-serif;
  font-size: 1.2em;
}
.header a {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--softColor);
}
.header a:hover {
  color: var(--button);
}
.menu-icon {
  cursor: pointer;
  width: 35px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: invert(83%) sepia(1%) saturate(8%) hue-rotate(354deg) brightness(95%)
    contrast(92%);
}
.mobile-menu {
  padding-top: 15px;
  display: grid;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .logo img {
    width: 60px;
  }
  .header {
    border: none;
  }
  .logo .text {
    font-size: 30px;
    border: none;
    position: absolute;
    left: -50px;
    top: -25px;
  }
  .header {
    width: 100%;
    margin: 0 !important;
    padding: 10px 5px;
    box-sizing: border-box;
  }
  .header a {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
  }
}
