.buying-card {
  padding: 20px;
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(190, 190, 190, 0.5);
  -moz-box-shadow: 0px 8px 10px 0px rgba(190, 190, 190, 0.5);
  box-shadow: 0px 8px 10px 0px rgba(190, 190, 190, 0.5);
}
.buying-card img {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.buying-card-header {
}
.buying-card-body {
  box-sizing: border-box;
}
.buying-card-body-subtitle {
  margin: 10px 0px;
}
.buying-card-footer {
  padding-top: 10px;
  text-align: left;
  width: 100%;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.currency-input {
  padding: 5px;
  border-bottom: 1px solid var(--softColor);
  width: auto;
  display: flex;
  color: var(--softColor);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.01);
}
.currency-input input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.currency-input div {
  padding: 5px;
}
.static-values {
  display: flex;
  margin-top: 5px;
  transition: transform 0.2s;
}

.static-values div {
  background-color: transparent;
  padding: 10px 5px;
  margin-right: 1px;
  margin-left: 1px;
  border-radius: 5px;
  color: var(--softColor);
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: var(--white) 0.5px solid;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(190, 190, 190, 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(190, 190, 190, 0.5);
  box-shadow: 0px 0px 2px 0px rgba(190, 190, 190, 0.5);
}
.selected-static-value {
  border: #485461 0.5px solid !important;
  color: var(--defaultColor) !important;
  user-select: none !important;
}
.static-values div:hover {
  border: #485461 0.5px solid;
  color: var(--defaultColor);
  user-select: none;
}
.input-select-together {
  border-bottom: 1px solid var(--softColor);
  padding: 5px 0px;
  align-self: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 5px;
}
.input-select-together input,
.input-select-together select {
  font-size: 1.4rem;
  padding: 5px;
  border: none;
  outline: none;
  color: var(--softColor);
  background-color: transparent;
}
.input-select-together input {
  width: 100%;
  color: var(--defaultColor);
}
.btn-buy {
  padding: 20px;
  background-color: var(--button);
  color: var(--white);
  font-weight: 600;
  border: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.crypto-card {
  background-color: var(--defaultColor);
  background-image: linear-gradient(315deg, var(--defaultColor) 0%, #222 74%);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--softColor);
  transition: all 0.2s ease-in-out;
  user-select: none;
}
.crypto-card,
.crypto-card .crypto-card-header,
.crypto-card .crypto-card-body,
.crypto-card .crypto-card-footer {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.crypto-card .crypto-card-header {
  display: flex;
}
.crypto-card .crypto-card-header span {
  margin-left: auto;
  font-size: 12px;
  font-weight: 800;
  color: var(--button);
  transition: all 0.2s ease-in-out;
}
.crypto-card .crypto-card-body div {
  width: 100%;
  font-size: 12px;
}
.crypto-card .crypto-card-body .crypto-status {
  font-size: 16px;
  font-weight: 600;
  color: var(--button);
}

.crypto-card:hover {
  transform: scale(1.05);
}
.rt-price {
  font-weight: 600;
  font-size: 20px !important;
}
.modal-area {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
}
.modal {
  min-height: 200px;
  background-color: var(--white);
  padding: 30px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.information-row {
  background-color: var(--defaultColor);
  padding: 50px 0px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}
.information-card {
  transition: transform 0.2s;
  background: var(--third);
  color: var(--softColor);
  width: 100%;
  text-align: center;
  padding: 25px;
  margin-bottom: 10px;
  min-height: 400px;
  border-radius: 5px;
}
.information-card small {
  font-size: 12pt;
}
.information-card:hover {
  transform: translate(0px, -5px);
}
.information-card small {
  width: 100%;
  color: var(--defaultColor);
}
.information-card img {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 64px;
}
@media only screen and (max-width: 575px) {
  .information-card {
    padding: 20px;
    margin-top: 10px;
    min-height: 250px;
    width: 100%;
  }
}
